/* Ensure html and body take full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #ffffff, #ccf3ff);
    flex-grow: 1; /* Allow body to grow and fill the available space */
}

/* Main content container to fill the remaining space */
.main-content {
    flex-grow: 1;
}

/* Light visual class */
.light_visual {
    color: #ffffff;
}

    .light_visual:hover {
        color: #ccf32f;
        transition: color 0.3s ease;
    }

.white_visual {
    color: #ffffff;
}

/* Station statuses */
.station_enabled {
    color: forestgreen !important;
}

.station_disabled {
    color: darkred !important;
}

/* Status colors */
.status_flood {
    color: rebeccapurple;
}

.status_ok {
    color: forestgreen;
}

.status_drought {
    color: sandybrown;
}

.status_death {
    color: firebrick;
}

/* Clock */
#clock {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: auto;
    color: #ffffff;
}

/* Navbar customization */
.navbar-custom {
    background-color: #336699;
    padding: 15px 0;
}

.navbar-brand {
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-nav .nav-link {
    color: #ccf3ff;
    font-weight: bold;
    text-transform: uppercase;
}

    .navbar-nav .nav-link:hover {
        color: #ccf32f;
        font-weight: bold;
        text-transform: uppercase;
    }

/* Header */
.header {
    background-color: #336699;
    padding: 15px 0;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

/* Footer */
.footer {
    background-color: #336699;
    padding: 15px 0;
    color: #ffffff;
    text-align: center;
    margin-top: auto; /* Push footer to the bottom */
}

    .footer a {
        color: #ffffff;
        text-decoration: none;
    }

/* Custom button */
.name_button_custom {
    font-size: 1.1rem;
    color: black;
}
